<div class="link-button">
  <a href='memos/new'>New</a>
</div>
<div>
  <ul>
    <% @memos.each do |memo| %>
      <li data-id='<%= memo.id %>'>
        <a href='/memos/<%= memo.id %>'><%= memo.title %></a>
      </li>
    <% end %>
  </ul>
</div>
