<div class="link-button">
  <a href='/new'>New</a>
</div>
<div>
  <ul>
    <% @memos.each do |id, content| %>
      <li data-id='<%= id %>'>
        <a href='/memo/<%= id %>'><%= content[:title] %></a>
      </li>
    <% end %>
  </ul>
</div>
