<!DOCTYPE html>
<html lang="ja">

<head>
  <mata charset="utf-8">
  <title><%= @app_name %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <h1><a href="/"><%= @app_name %></a></h1>
    <%= yield %>
</body>

</html>
