<div class="form-action">
  <form action="/memo" method="post">
    <div class="form-items">
      <div class="form-items__item">
        <label>Title</label>
        <input type="text" name="title">
      </div>
      <div class="form-items__item">
        <label>Content</label>
        <textarea name="body"></textarea>
      </div>
    </div>
    <div class="form-action">
      <input type="submit" value="Save">
    </div>
  </form>
</div>
